/* body, html {
    height: 100%;
    margin: 0;
  } */

.hero-text {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 30px;
    padding-top: 200px;
}

#homepageToAboutBtn {
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./photos/PortfolioPic1.JPG");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;

    
}

.bg2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./photos/aboutPageBackground.JPG");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    color: white
}

#portfolioBG {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./photos/portfolioPageBackground.JPG");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    color: white}

.container-fluid {
    padding-bottom: 50px;
}

/* .navbar {
    background-color: rgba(142, 218, 248, 0.95);
} */

#aboutMeNavbar {

}

#Home {
    font-size: 10px;
    padding: 20px;
    color: gold;
}

.fa-home {
    font-size: 50px;
}

.navbar-container {
    width: 100%;
}

h1 {
    text-align: center;
    text-emphasis: bold;
}


h2 {
    background-color: purple;
    color: yellow;
}

h3 {
    background-color: blue;
    color: green;
    font-size: 70px;
}

nav {
    text-align: center;
}

.display-4 {
    text-align: center;
}

p {
    text-align: center;
}


.form-group {
    text-align: center;
    padding: 50px;
}


.card-body {
    text-align: center;
}

#portfolio-btn {
    font-size: 20px;
    background-color: black;
    color: white;
}

#portfolio-btn:hover {
background-color: purple;
transition: .5s ease-in-out;
}

.media {
    margin-left: 28%;
}

.social-media-icon {
    display: inline-block;
    list-style: none;
    padding: 50px;
}

i {
    font-size: 70px;
    text-align: center;
}

i:hover {
    color: purple;
    transition: .7s;
    transform: rotate(360deg);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 20px;
    background-color: teal;
    
  }

  #foot {
      color: black;
  }

  .row {
    margin-top: 50px;
    margin-bottom: 50px;
}


@media screen and (max-width: 768px) {
    body {
        background-color: purple;
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  #learnMoreTab {
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 45%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }